homeRegion: &HOME_REGION ca-central-1
policySets:
  - deploymentTargets:
      organizationalUnits:
        - Security
        - Infrastructure
        - Central
        - Dev
        - Test
        - Prod
        - UnClass
        - Sandbox
    policies:
      - name: AWSAccelerator-Default-Boundary-Policy
        policy: iam-policies/boundary-policy.json
  - deploymentTargets:
      accounts:
        - Management
    policies:
      - name: AWSAccelerator-IAM-User-Boundary-Policy
        policy: iam-policies/iam-user-boundary-policy.json
roleSets:
  - deploymentTargets:
      organizationalUnits:
        - Root
    roles:
      - name: EC2-Default-SSM-AD-Role
        instanceProfile: true
        assumedBy:
          - type: service
            principal: ec2.amazonaws.com
        policies:
          awsManaged:
            - AmazonSSMManagedInstanceCore
            - AmazonSSMDirectoryServiceAccess
            - CloudWatchAgentServerPolicy
        boundaryPolicy: AWSAccelerator-Default-Boundary-Policy
      - name: AWSAccelerator-RDGW-Role
        instanceProfile: true
        assumedBy:
          - type: service
            principal: ec2.amazonaws.com
        policies:
          awsManaged:
            - AmazonSSMManagedInstanceCore
            - AmazonSSMDirectoryServiceAccess
            - CloudWatchAgentServerPolicy
        boundaryPolicy: AWSAccelerator-Default-Boundary-Policy
      - name: AWSAccelerator-Rsyslog-Role
        instanceProfile: true
        assumedBy:
          - type: service
            principal: ec2.amazonaws.com
        policies:
          awsManaged:
            - AmazonSSMManagedInstanceCore 
            - CloudWatchAgentServerPolicy
            - AmazonS3ReadOnlyAccess
        boundaryPolicy: AWSAccelerator-Default-Boundary-Policy
groupSets:
  - deploymentTargets:
      accounts:
        - Management
    groups:
      - name: BreakGlassAdmins
        policies:
          awsManaged:
            - AdministratorAccess
      - name: OpsAdmins
        policies:
          awsManaged:
            - AdministratorAccess
userSets:
  - deploymentTargets:
      accounts:
        - Management
    users:
      - username: breakGlassUser01
        group: BreakGlassAdmins
        boundaryPolicy: AWSAccelerator-IAM-User-Boundary-Policy
      - username: breakGlassUser02
        group: BreakGlassAdmins
        boundaryPolicy: AWSAccelerator-IAM-User-Boundary-Policy
managedActiveDirectories:
  - name: AWSAcceleratorManagedActiveDirectory
    type: AWS Managed Microsoft AD
    account: Operations
    region: *HOME_REGION
    dnsName: example.local      # UPDATE
    netBiosDomainName: example
    description: This directory is a) shared to most accounts in the organization to provide centralized Windows and Linux authentication for cloud workloads, b) used as an identity source for AWS SSO, c) used to inter-connect with on-premises directory services, and d) provides a single identities source for instance and AWS console access.
    edition: Enterprise
    vpcSettings:
      vpcName: Central
      subnets:
        - Central-App-A
        - Central-App-B
    resolverRuleName: AWSAccelerator-Endpoint-mad-example-local
    secretConfig:
      account: Operations
      region: *HOME_REGION
      adminSecretName: my-admin-001
    sharedOrganizationalUnits:
        organizationalUnits:
          - Infrastructure
          - Central
          - Dev
          - Test
          - Prod
          - UnClass
    logs:
      groupName: /AWSAccelerator/MAD/example.local      # UPDATE
    activeDirectoryConfigurationInstance:
      instanceType: t3.large
      vpcName: Central
      subnetName: Central-App-A
      imagePath: /aws/service/ami-windows-latest/Windows_Server-2016-English-Full-Base
      securityGroupInboundSources:
        - 10.1.0.0/16
      instanceRole: AWSAccelerator-RDGW-Role
      userDataScripts:
        - scriptName: JoinDomain
          scriptFilePath: ad-config-scripts/Join-Domain.ps1
        - scriptName: AWSQuickStart
          scriptFilePath: ad-config-scripts/AWSQuickStart.psm1
        - scriptName: ADGroupSetup
          scriptFilePath: ad-config-scripts/AD-group-setup.ps1
        - scriptName: ADUserSetup
          scriptFilePath: ad-config-scripts/AD-user-setup.ps1           
        - scriptName: ADUserGroupSetup
          scriptFilePath: ad-config-scripts/AD-user-group-setup.ps1
        - scriptName: ADGroupGrantPermissionsSetup
          scriptFilePath: ad-config-scripts/AD-group-grant-permissions-setup.ps1
        - scriptName: ADConnectorPermissionsSetup
          scriptFilePath: ad-config-scripts/AD-connector-permissions-setup.ps1
        - scriptName: ConfigurePasswordPolicy
          scriptFilePath: ad-config-scripts/Configure-password-policy.ps1
      adGroups:
        - aws-Provisioning
        - aws-Billing
      adPerAccountGroups:
        - "*-Admin"
        - "*-PowerUser"
        - "*-View"
      adConnectorGroup: ADConnector-grp
      adPasswordPolicy:
        history: 24
        maximumAge: 90
        minimumAge: 1
        minimumLength: 14
        complexity: true
        reversible: false
        failedAttempts: 6
        lockoutDuration: 30
        lockoutAttemptsReset: 30
      adUsers:
        - name: adconnector-user
          email: example-adconnector-user@example.com # <----- UPDATE EMAIL ADDRESS
          groups:
            - ADConnector-grp
        - name: User1
          email: example-user1@example.com # <----- UPDATE EMAIL ADDRESS
          groups:
            - aws-Provisioning
            - "*-View"
            - "*-Admin"
            - "*-PowerUser"
            - AWS Delegated Administrators
        - name: User2
          email: example-user2@example.com # <----- UPDATE EMAIL ADDRESS
          groups:
            - "*-View"
