*.js
!deployment/.typescript/cdk-solution-helper/index.js
!**/create-govcloud-account/index.js
package-lock.json
!jest.config.js
!setEnvVars.js
*.d.ts
*.tsbuildinfo
node_modules
dist
!source/.typescript/lambda/**/*.js
!source/lambda/**/*.js
source/packages/@aws-accelerator/accelerator/lib/logger.js.map

### log files
*.log

### CDK asset staging directory
.cdk.staging
cdk.out

!**/cdk-solution-helper/index.js
!**/update-pipeline-github-token/index.js

deployment/global-s3-assets
deployment/regional-s3-assets
open-source/

### Temporary folders
tmp/
temp/

### yarn files
yarn-error.log

### jest coverage folder
coverage/

### VisualStudioCode ###
.vscode/*

### macOS ###
.DS_Store

### IntelliJ ###
.idea
*.iml

### Exclude Documentation ###
docs

### Exclude Jest test report directory
test-reports
source/lerna-debug.log

### Logger files
*.log

### Debugging 
development
.vscode

### Viperlight
viperlight*.zip


### Sonarqube
.scannerwork

*.js.map