### jest coverage folder
coverage/

### VisualStudioCode ###
.vscode/*

### macOS ###
.DS_Store

### IntelliJ ###
.idea
*.iml

### Exclude Jest test report directory
test-reports
source/lerna-debug.log

### Debugging
development
.vscode

### Viperlight
viperlight*.zip
/.idea/

### Sonarqube
.scannerwork
